Ensure correct transfer encoding (force quoted-printable or base64) where required by RFCs

Extracted from #23.

[RFC1847 section 2.1](https://tools.ietf.org/html/rfc1847#section-2.1) says:

> In addition, if the multipart/signed object is EVER to be transferred over the standard Internet SMTP infrastructure, the resulting MIME body is constrained to 7 bits -- that is, the use of material requiring either 8bit or binary content-transfer-encoding is NOT allowed.  Such 8bit or binary material MUST be encoded using either the quoted-printable or base64 encodings.
>
> This requirement exists because it is not generally possible, given the current characteristics of Internet SMTP, for a message originator to guarantee that a message will travel only along paths capable of carrying 8bit or binary material.
>
> SMTP clients normally have the option of either converting the message to eliminate the use of 8bit or binary encoding or returning a nondelivery notification to the originator. However, conversion is not viable in the case of signed objects since conversion would necessarily invalidate the signature. This leaves a nondelivery notification as the only available option, which is not acceptable.

Furthermore, [RFC3156 section 3](https://tools.ietf.org/html/rfc3156#section-3) says:

> Note that this also includes the case where a signed object is also encrypted (see section 6).  This restriction will increase the likelihood that the signature will be valid upon receipt.